body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

form{
   display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 40%;
}

/* arrow retrieves specific children of the selector we are grabbing */
/* form> div - all o the divs that exist inside of the form element */
form > div, form>input, textarea {
    width: 100%;
    flex-grow: 2;
}

.form-title{
    display: flex;
    gap: 20px;
}

.form-title > input{
    flex-grow: 2;
}

.file-upload > label{
    border: 4px #519872 solid;
    background-color: #519872;

}

input[type="file" ]{
    display: none;
}

#all-post{
    width: 40%;
}

.post > img{
    width: 100%;
}


