body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height:100%;
    background-color: cornsilk;
    display:flex;
    /* center on screen */
    justify-content: center;
    align-items: center;
    gap:20px;
}

.box{
    width: 100px;
    height:100px;
    background-color: darkolivegreen;

    /* position element inide box with flex */
     display:flex;
    justify-content: center;
    align-items: center;
}

#move{
    width:200px;
    height:200px;
    background-color: darkturquoise;

    /* adjust position to break flow layout
    position should not use %
    % should be used for container size */
    position:absolute;
    top:50px;
    left:500px;
}
